@font-face {
font-family: verdana;
src: url(verdana.ttf) ;
font-family: impact ;
src: url(impact.ttf) ;
}
h1 {
	text-shadow: 2px 2px black ;

	font-family: impact ;
	color: white;

}
input {
	
	text-shadow: 1px 1px gray;
}
input:hofer {
	width: 100px;
}
input {
	transition-timing-function: 2s
}